.header {
    overflow: hidden;
    display: flex;
  }

  /* header */
.header__content {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
  }
  
  .header__ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
  }

  .header__ul li {
    margin-left: 8%;
  }
  
  .header__ul li a{
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3%;
  }
  
  .header__ul li:first-child {
    margin-left: -10%;
  }

  .Button {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }

  .Button:hover {
    background-color: #FFFFFF;
    color: #0644A3;
    cursor: pointer
  }
  
  .para1 {
    margin-bottom: -10%;
    font-weight: 600;
    font-size: 150%;
  }
  
  .head1 {
    font-size: 450%;
  }

  .information {
    margin-top: -8%;
  }
  
  .para2 {
    display: inline-block;
    margin-top: -9%;
    font-weight: 600;
    font-size: 150%;
  }

  .typewriter {
    display: inline-block;
    font-weight: 600;
    font-size: 150%;
  }
  
  .btn {
    outline: none;
    border: none;
    color:#FFFFFF;
    padding: 2% 4%;
    border: 1px solid #FFFFFF;
    border-radius: 23px;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    cursor: pointer;
  }

  .btn:hover{
    background-color: #FFFFFF;
    color: #0644A3;
  }
  
  .banner__img{
    margin-left: 10%;
    width: 76%;
    height: auto;
  }