.contact {
    background-color: #edf1fa;
    padding-left: 4%;
}

.mainHeaderProjectsContact {
    color: #0644A3;
    font-size: 300%;
    line-height: 10%;
    text-align: center;
    margin-left: -3%;
}

.mainContentProjectsContact {
    color:  #0644A3;
    text-align: center;
    margin-left: -4%;
}