* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #101010;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.square {
	width: 80px;
	height: 20px;
	display: flex;
	justify-content: space-between;
}
.circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
		opacity: 0%;
	}
	40% {
		opacity: 20%;
	}
	100% {
		transform: rotate(360deg);
		opacity: 100%;
	}
}
@keyframes color {
	from {
		background: #0f4c75;
	}
	to {
		background: #3282b8;
	}
}

.square {
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
}
.circle {
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
}
.circle {
	background: red;
}
