.projects {
    background-color: #EDF1FA;
}

.mainHeaderProjects {
    color: #0644A3;
    font-size: 300%;
    line-height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContentProjects {
    color:  #0644A3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsProjects {
    margin-right: auto;
    margin-left: auto;
}

.spacingProject {
    display: flex;
    align-items: center;
    justify-content: center;
}