.projects {
    background-color: #edf1fa;
    padding-left: 4%;
}

.mainHeaderProjects {
    color: #0644A3;
    font-size: 300%;
    line-height: 10%;
    text-align: center;
}

.mainContentProjects {
    color:  #0644A3;
    text-align: center;
}
