.skills {
    background: white;
    color:  #0644A3;
}

.common {
    width: 50%;
    margin: 4% auto;
    text-align: center;
}

.mainHeader {
    margin-top: -4%;
    font-size: 300%;
}

.mainContent {
    margin-top: -5%;
}

.commonBorder {
    background: rgb(19, 18, 18);
    width: 85px;
    height: 3px;
    margin: 10px auto;
}

.Skill-bars {
    padding: 6%;
    margin-left: 50%;
    margin-top: -5%;
}

.icons {
    font-size: 30px;
    margin-bottom: 2%;
    color: white;
}

.skillsbox_header {
    font-size: 18px;
    font-weight: 501;
    margin-bottom: 3%;
}

.skillsbox_para {
    font-size: 14px;
}

.row-2 {
    width: 33.3333333333333%;
}

.skillsbox {
    padding: 4%;
    background: #2573A6;
    color: white;
    margin-left: 15%;
    margin-top: -111%;
    width: 55%;
}

.row-2-2 {
    width: 33.3333333333333%;
}

.skillsbox-2 {
    padding: 4%;
    background: #2573A6;
    color: white;
    margin-left: 85%;
    margin-top: -40.5%;
    width: 55%;
}

.row-2-3 {
    width: 33.3333333333333%;
}

.skillsbox-3 {
    padding: 4%;
    background: #2573A6;
    color: white;
    margin-left: 15%;
    margin-top: 6%;
    width: 55%;
}

.row-2-4 {
    width: 33.3333333333333%;
}

.skillsbox-4 {
    padding: 4%;
    background: #2573A6;
    color: white;
    margin-left: 85%;
    margin-top: -40.5%;
    width: 55%;
}

